<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ad/DBFZ_cover_art.jpg/220px-DBFZ_cover_art.jpg" alt="DBFZ"class="img-responsive">
      <div class="caption">
        <h3>Dragon Ball Fighter Z</h3>
        <p>After the success of the Xenoverse series, it's time to introduce a new classic 2D DRAGON BALL fighting game for this generation's consoles. DRAGON BALL FighterZ is born from what makes the DRAGON BALL series so loved and famous: endless spectacular fights with its allpowerful fighters. </p>
        <div class="clearfix"> 
            <div class="price">Rp 5000.0000,-</div>
            <a href="#" class="btn btn-success pull-right" role="button">Buy Now!</a></div>
            </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ad/DBFZ_cover_art.jpg/220px-DBFZ_cover_art.jpg" alt="DBFZ"class="img-responsive">
      <div class="caption">
        <h3>Dragon Ball Fighter Z</h3>
        <p>After the success of the Xenoverse series, it's time to introduce a new classic 2D DRAGON BALL fighting game for this generation's consoles. DRAGON BALL FighterZ is born from what makes the DRAGON BALL series so loved and famous: endless spectacular fights with its allpowerful fighters. </p>
        <div class="clearfix"> 
            <div class="price">Rp 1000.0000,-</div>
            <a href="#" class="btn btn-success pull-right" role="button">Buy Now!</a></div>
            </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ad/DBFZ_cover_art.jpg/220px-DBFZ_cover_art.jpg" alt="DBFZ"class="img-responsive">
      <div class="caption">
        <h3>Dragon Ball Fighter Z</h3>
        <p>After the success of the Xenoverse series, it's time to introduce a new classic 2D DRAGON BALL fighting game for this generation's consoles. DRAGON BALL FighterZ is born from what makes the DRAGON BALL series so loved and famous: endless spectacular fights with its allpowerful fighters. </p>
        <div class="clearfix"> 
            <div class="price">Rp 1000.0000,-</div>
            <a href="#" class="btn btn-success pull-right" role="button">Buy Now!</a></div>
            </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ad/DBFZ_cover_art.jpg/220px-DBFZ_cover_art.jpg" alt="DBFZ"class="img-responsive">
      <div class="caption">
        <h3>Dragon Ball Fighter Z</h3>
        <p>After the DRAGON BALL FighterZ is born from what makes the DRAGON BALL series so loved and famous: endless spectacular fights with its allpowerful fighters. </p>
        <div class="clearfix"> 
            <div class="price">Rp 1000.0000,-</div>
            <a href="#" class="btn btn-success pull-right" role="button">Buy Now!</a></div>
            </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ad/DBFZ_cover_art.jpg/220px-DBFZ_cover_art.jpg" alt="DBFZ"class="img-responsive">
      <div class="caption">
        <h3>Dragon Ball Fighter Z</h3>
        <p>After the success of the Xenoverse series, it's time to introduce a new classic 2D DRAGON BALL fighting game for this generation's consoles. DRAGON BALL FighterZ is born from what makes the DRAGON BALL series so loved and famous: endless spectacular fights with its allpowerful fighters. </p>
        <div class="clearfix"> 
            <div class="price">Rp 1000.0000,-</div>
            <a href="#" class="btn btn-success pull-right" role="button">Buy Now!</a></div>
            </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ad/DBFZ_cover_art.jpg/220px-DBFZ_cover_art.jpg" alt="DBFZ"class="img-responsive">
      <div class="caption">
        <h3>Dragon Ball Fighter Z</h3>
        <p>After the success of the Xenoverse series, it's time to introduce a new classic 2D DRAGON BALL fighting game for this generation's consoles. DRAGON BALL FighterZ is born from what makes the DRAGON BALL series so loved and famous: endless spectacular fights with its allpowerful fighters. </p>
        <div class="clearfix"> 
            <div class="price">Rp 1000.0000,-</div>
            <a href="#" class="btn btn-success pull-right" role="button">Buy Now!</a></div>
            </div>
    </div>
  </div>
</div>

